* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: auto;
}

body {
  min-height: 100%;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
  font-size: 100%;
}

ul {
  list-style: none;
}


:root {
  /* COLORS */
  --primary-color: #fff;
  --secondary-color: #015298;
  --third-color: #000;
  --fourth-color: transparent;

  /* MARGINS/PADDING */
  --primary-margin: 0px;
  --second-margin: auto;
  --third-margin: 2%;

  --primary-padding: 2rem;

  /* FONT */
  --primary-font: 'Courier New', Courier, monospace;
  --second-font: 'Times New Roman', Times, serif;
}

body {
  margin: var(--second-margin);
  padding: 0;
  height : 100vh;
  background: linear-gradient(var(--secondary-color), rgb(0, 0, 98));
  max-width: 1200px;
  font-family: var(--primary-font);
}

/* ---------- h1-h6 & p, li, a Elements ---------- */
h1 {
  font-size: 50px;
  font-family: var(--primary-font);
}

h2 {
  font-family: var(--second-font);
  font-size: 35px;
  margin-bottom: var(--third-margin);
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

h3 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

li,
a {
  font-size: 22px;
  text-decoration: none;
}

/* -------------- Header -------------- */
header {
  background-color: var(--fourth-color);
  color: var(--primary-color);
  margin: var(--primary-margin);
  padding: 4% 1%;
  display: grid;
  grid-template-columns: auto auto;
}

/* ----- NAV ----- */
nav {
  width: 100%;
  margin: var(--second-margin);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav li {
  margin: var(--primary-margin) var(--third-margin);
}

nav a:hover, .nav-link-active{
  font-family: var(--second-font);
  font-weight: bold;
}

nav li a {
  color: var(--primary-color);
}

.nav-link {
  font-family: var(--primary-font);
}


/* ---------- Main ---------- */
main {
  padding: 2%;
  margin: var(--second-margin);
  background-color: var(--fourth-color);
  min-height: 650px;
}

section {
  padding: var(--primary-padding) 2%;
  margin-bottom: 3%;
  background-color: var(--primary-color);
  border-radius: 15px;
  box-shadow: 10px 10px 8px rgb(18, 0, 78);
  min-height: 350px;
}

section:last-child {
  border-bottom: none;
}

/* --- ABOUT SECTION --- */

#about img {
  max-height: 250px;
  border-radius: 5%;
}

#about div {
  display: flex;
  margin: var(--second-margin);
  max-width: 800px;
}

#about p {
  margin: var(--second-margin) 3%;
}

/* --- WORK SECTION --- */
.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1000px;
  margin: var(--second-margin);
  text-align: center;
  justify-content: center;
}

.project {
  contain: content;
  max-height: 320px;
  border-radius: 10px;
  border: 1px solid gray;
  box-shadow: 4px 4px 3px rgb(143, 143, 143);
  opacity: 0.8;
  margin: var(--third-margin);
  width: 45%;
  min-width: 250px;
}

.project-title {
  padding: 1rem;
  box-shadow: none;
}

.project a {
  color: var(--third-color);
}

.project h3,
.project p {
  display: inline-block;
}

.project:hover {
  cursor: pointer;
  opacity: 1;
  color: var(--secondary-color);
  border: 5px outset var(--secondary-color)
}

.project img {
  width: 100%;
  display: block;
}

.project:first-child {
  width: 100%;
  max-height: 450px;
}


/* --- WORK SECTION --- */
#contact ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 800px;
  margin: var(--second-margin);
}

#contact li {
  margin: var(--primary-margin) var(--third-margin);
  user-select: all;
}

#contact a {
  color: var(--third-color);
}

#contact li:hover,
#contact a:hover {
  font-weight: bold;
  cursor: pointer;
  color: var(--secondary-color);
}

/* ---------- Footer ---------- */
footer {
  margin: var(--primary-margin);
  background-color: transparent;

  padding: var(--primary-padding) 1%;
  text-align: center;
  color: var(--primary-color);
}

/* ---------- Breakpoints Tablet---------- */

@media screen and (max-width: 990px) {
  header {
    display: block;
    text-align: center;
  }

  nav ul {
    justify-content: center;
    margin-top: var(--third-margin);
  }

  nav li {
    margin: var(--third-margin);
  }

  /* --- WORK SECTION --- */
  .project {
    width: 45%;
  }
}

/* ---------- Breakpoints Phone ---------- */

@media screen and (max-width: 765px) {

  /* --- HEADER SECTION --- */
  h1 {
    margin-bottom: 1rem;
  }

  nav ul {
    justify-content: center;
    display: block;
    margin-top: var(--third-margin);
  }

  nav li {
    margin: 4% var(--primary-margin);
  }

  /* --- MAIN SECTION --- */

  main {
    background-color: var(--primary-color);
  }

  section {
    border-radius: 0;
    border-bottom: 3px solid var(--secondary-color);
    box-shadow: none;
  }

  /* --- ABOUT SECTION --- */
  #about div {
    display: block;
  }

  #about img {
    display: block;
    margin: var(--second-margin);
  }

  #about p {
    margin: 4% var(--second-margin);
  }

  /* --- WORK SECTION --- */
  .project {
    min-width: none;
    width: 100%;
  }

  /* --- WORK SECTION --- */
  #contact ul {
    display: block;
    text-align: center;
  }

  #contact li {
    margin: 4% var(--primary-margin);
  }
}